#js-quiz-title {
    font-size: 30px;
    text-align: center;
    font-weight: 100px;
    margin: 20px 0px 20px 0px;
}

#instructions {
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.choice-options {
    display: block;
}


.content {
display: flex;
flex-direction: column;
padding-top: 5em;
text-align: center;
height: 400px; 
width: 525px; 
border: 2px solid black;
border-radius: 10px;
}

#timer-para {
    font-size: 30px;
}


.content > p {
    font-size: 20px;
}

#start-button {
    margin-top: 1em;
    height: 70px;
    width: 125px;
    font-size: 2em;
    border-radius: 10px;
}

#start-button:hover {
    background-color: lightblue;
}